name: Dependabot auto-merge
on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.3.6
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        # only auto-approve direct deps that are minor or patch updates
        #   dependency type is indirect, direct:development or direct:production
        #   version-update is semver-major, semver-minor or semver-patch
        if: |
          steps.metadata.outputs.dependency-type != 'indirect'
          && steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: |
            gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
